# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [31]:
def animal_crackers(text_two_words):
    if len(text_two_words.split()) == 2:
        if len(set([x[0].lower() for x in text_two_words.split()])) == 1:
            return True
        else:
            return False
    else:
        print("Not a two word string")

In [34]:
st = 'Create popo'

In [35]:
animal_crackers(st)

False

In [36]:
# Check
animal_crackers('Levelheaded Llama')

True

In [37]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [49]:
def makes_twenty(n1,n2):
    aux = [n1]+[n2]
    if 20 in aux:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [50]:
# Check 
makes_twenty(20,10)

True

In [51]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [58]:
def old_macdonald(name):
    if len(name.split()) == 1:
        namelength = len(name)
        if namelength < 3:
            return name.capitalize()
        else:
            first = name[0].upper()
            fourth = name[3].upper()
            return first + name[1:3] + fourth + name[4:]
    else:
        print("input has to be a single word")

In [59]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [70]:
def master_yoda(text):
    aux = text.split()[::-1]
    return " ".join(aux)

In [71]:
# Check
master_yoda('I am home')

'home am I'

In [72]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [77]:
def almost_there(n):
    return (n>= 90 and n<=110) | (n>=190 and n<=210)

In [78]:
# Check
almost_there(104)

True

In [79]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [99]:
def has_33(nums):
    ocurrency = 0
    i = 0
    while i < (len(nums)-1):
        if nums[i] == 3 and nums[i] == nums[i+1]:
            ocurrency = ocurrency + 1
            i=i+1
        else:
            i=i+1
    return ocurrency > 0

In [100]:
nums = [1, 3, 3]
len(nums)

3

In [101]:
# Check
has_33([1, 3, 3])

True

In [102]:
# Check
has_33([1, 3, 1, 3])

False

In [103]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [108]:
def paper_doll(text):
    i=0
    mylist = []
    while i < len(text):
        mylist = mylist + [text[i]*3]
        i = i +1
    return "".join(mylist)

In [109]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [110]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [113]:
def blackjack(a,b,c):
    result = a+b+c
    if result <= 21:
        return result
    elif 11 in [a,b,c] and result - 10 <= 21:
        return result - 10
    else:
        return 'BUST'

In [114]:
11 in [11,2,3]

True

In [115]:
# Check
blackjack(5,6,7)

18

In [116]:
# Check
blackjack(9,9,9)

'BUST'

In [117]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [180]:
def summer_69(arr):
    i = 0
    arestar = 0
    list_six = []
    list_nine = []
    while i < len(arr):
        if arr[i] == 6:
            list_six = list_six + [i]
            i = i + 1
        elif arr[i] == 9:
            list_nine = list_nine + [i]
            i = i + 1
        else:
            i = i + 1
    if len(list_six) == len(list_nine):
        if len(list_six) > 0:
            i = 0
            while i < len(list_six):
                arestar = sum(arr[list_six[i]:list_nine[i]+1])
                i = i + 1
            return sum(arr)- arestar
        else:
            return sum(arr)
    else:
        print("After a six a nine must always appear and vice-versa")

In [181]:
# Check
summer_69([1, 3, 5])

9

In [182]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [183]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [196]:
def spy_game(nums):
    aux = "".join(map(str,nums))
    return '007' in aux

In [325]:
def spy_game_1(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [326]:
spy_game_1([1,2,4,0,0,7,5])

True

In [197]:
aux = [1,2,4,0,0,7,5]

auxiliar="".join(map(str,aux))
auxiliar

'1240075'

In [198]:
'007' in auxiliar

True

In [199]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [200]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [201]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [279]:
def count_primes(num):
    
    def isPrime(n):
        i = 2;

        while i*i < n+1:
            if n % i == 0:
                return False
            i = i + 1
        return True
    
    
    counter = 0
    number = 2
    
    while number <= num+1:
        if isPrime(number)== True:
            counter = counter + 1
        number = number + 1
    return counter -1

In [328]:
def count_primes_1(num):
    if num<2:
        return 0
    primes = [2]
    x=3
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [329]:
# Check
count_primes_1(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [318]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    ', 0:'    * '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4],'F':[4,9,4,9,9],'G':[4,9,4,3,4],'H':[3,3,4,3,3],'I':[4,1,1,1,4],'J':[4,0,8,8,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [323]:
print_big('d')

****
*   *
*   *
*   *
****

## Great Job!